.App {
  text-align: center;
  background-color: rgb(71, 163, 248);
  height: 100vh;
  padding-top: 20px;
  color: white;
}



.todoform{
  border-bottom: 2px solid white;
  height:10%;
}

.todoform input{
  width: 50%;
  height: 40px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 15px;
}

button{
  height:40px;
  /* width: 60px; */
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  outline: none;
  border: none;
  margin: 2px 10px;
  color: rgb(49, 49, 49);

}


.todo-container{

  width: 60%;
  

  margin : 10px 20%;
  border-radius: 30px 30px 30px 30px;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 2px solid white;
}

.todo-item p{
  font-size: 20px;
}


.completed-tast{
  text-decoration: line-through;
  /* color: green; */
}

.btn-hide{
  display: none;
}